extends layout

block content
  label(for="name") Tên Đăng Nhập: 
  br
  input(type="text")
  br
  br
  label(for="password") Mật Khẩu: 
  br
  input(type="password")
  br
  br
  input(type="submit", value="Đăng Nhập")
